.mining__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2rem 6rem;
}

.mining__navbar-links {
    flex:1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.mining__navbar-links_logo {
    margin-right: 1rem;
}

.mining__navbar-links_logo img {
    width: 100px;
    height: 80px;
}

.mining__navbar-links_containers {
    display: flex;
    flex-direction: row;
}

/*-------------------------------------------------------------------*/

