.section__padding_mario {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;    
    margin-top: -2rem;
    margin-bottom: 1.5rem;
}

.section__padding_mario div {
    flex: 1;    
    max-width: 400px;
    min-width: 300px;
    margin: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.section__padding_mario img {
    width: 60%;
    height: auto;
    padding: 1rem 1rem
}