.featured {
    width: 100%;
    padding: 4rem 0;
    background-color: whitesmoke;
    clip-path: polygon(0 0, 100% 7%, 100% 100%, 0% 95%);
    font-family: var(--font-family);    
    margin-top: -2rem;
}

.featured .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

/*GRID LEFT */
.featured .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 2rem;
}

.featured .left h2 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 34px;
    line-height: 45px;
    margin: 1rem 0;
    color: var(--color-footer);
}

.featured .left p {    
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: var(--color-footer);
}

.featured .left .btn {
    flex: 0.6;
    width: 40%;
    min-height: 50px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    background: #FF4820;
    border: 2px solid #FF4820;
    padding: 0 1rem;
    color: #fff;
    cursor: pointer;
    outline: none;    

    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;    
    margin-top: 1rem;
}

/*GRID RIGHT */
.featured .right {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.featured .right .card {
    display: flex;
    flex-direction: column;
    padding: 12px 22px;
    margin: .4rem;
    width: 170px;
    height: 170px;
    border-radius: 24px;
    border: 1px solid #d3d3d3;
    box-shadow: rgb(0 0 0 / 12%) 0px 8px 24px;
    text-align: center;
    color: var(--color-footer);
}

.featured .right .card:hover {
    box-shadow: rgb(0 0 0 / 20%) 0px 8px 24px;
}

.featured .card .top {
    display: flex;
    flex-direction: column;
}

.featured .right img {
    width: 50px;
    margin: auto;
    padding: .2rem 0;
}

.featured .icon {
    font-size: 36px;
    margin: auto;
    padding-top: 6px;
    justify-content: center;
    align-items: center;
}

.featured span {
    font-size: 22px;
}

.green {
    color: #118c4f;
}

.red {
    color: #ff0000;
}

@media screen and (max-width: 1050px) {
    .featured .container {
        grid-template-columns: 1fr;
    }

    .featured .left .btn {
        align-self: center;
    }
}

@media screen and (max-width: 650px) {
    .featured .left h2 {
        font-size: 48px;
        line-height: 60px;
    }

    .featured .left .btn {
        font-size: 16px;
        line-height: 24px;
        width: 60%;
    }
}


@media screen and (max-width: 490px) {
    .featured .container .right .card {
        width: 100%;
    }

    .featured .left h2 {
        font-size: 36px;
        line-height: 48px;
    }

    .featured .left .btn {
        font-size: 12px;
        line-height: 16px;
        width: 80%;
    }
}