.navbar {
	height: 80px;
	width: 100%;	
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 4rem;
	font-size: 1.1rem;
	border-bottom: .5px solid #eee;
}

.nav-logo img{        
  width: 80px;
  height: auto;
}

.nav-links {
	display: grid;
	grid-template-columns: repeat(4, auto);	
	list-style: none;	
}

.nav-link {	
    align-items: center;
    padding: .5rem 2rem; 
	text-decoration: none;
	color: white;
	transition: 0.3s all;
}

.nav-link:hover {
	padding: .5rem 2rem;
	background-color: #fff;
  	border-radius: 2px;
  	color: #000;
  	transition: all 0.5s ease-in-out;	
}

.nav-icon {
	display: none;
	font-size: 2rem;
	cursor: pointer;
}

@media only screen and (max-width: 600px) {
	.navbar {
		position: relative;
    	padding: 2rem 2rem;
	}

	.nav-links {
		display: none;		
	}

	.nav-item {	
		padding: 1rem 1rem;
		border-bottom: 0.05px solid rgb(126, 126, 126);
	}

	.nav-links.active {				
		background: rgb(30, 30, 30);
		flex-direction: column;
		position: absolute;
		text-align: center;
		width: 10rem;
		top: 80px;
		right: 0;
		transition: 0.5s all;
		display: flex;
	}	

	.nav-icon {
		display: flex;
	}
}